.box-weather {
    height: 200px;
    width: 200px;

    display: flex;
    justify-content: center;
    align-items: center;

    .spinner {
        text-align: center;
        font-size: 25px;
        color: #FFF;
    }
}