.weather-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px 15px 10px;

    .weather-day {
        display: flex;
        flex-direction: column;
        width: 50px;
        padding: 0 5px;

        .degrees {
            color: #eee;

        }
    }
}