@import '../../shared/_variables';
@import '../../shared/_mixins';

.addit-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 200px;
    min-height: 200px;
    margin: 5% 2%;
    border-radius: $border-radius;
    background-color: $background-box;

    .title-box {
        width: 100%;
        padding: 10px 0;
        font-size: 1.2em;
        text-align: left;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        background-color: $background-title;

        .title {
            padding: 10px 20px;
            color: $main-color;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
    }

    .addit-info {
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        .addit-info_box {
            display: flex;
            align-items: center;
            margin: 2% 0;

            .addit-image {
                @include size(40px, 40px);
            }

            .addit-text {
                color: $main-color;

                span {
                    font-weight: bold;
                }
            }
        }
    }
}