.addit-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 200px;
    min-height: 200px;
    margin: 5% 2%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);

    .title-box {
        width: 100%;
        padding: 10px 0;
        font-size: 1.2em;
        text-align: left;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: rgba(0, 0, 0, 0.2);

        .title {
            padding: 10px 20px;
            color: #eee;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
    }

    .addit-info {
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        .addit-info_box {
            display: flex;
            align-items: center;
            margin: 2% 0;

            .addit-image {
                width: 40px;
                height: 40px;
            }

            .addit-text {
                color: #eee;

                span {
                    font-weight: bold;
                }
            }
        }
    }
}